@media screen and (max-width: 640px){
	body{
		background-color: #5A5A5A;
		color:white;
		}
	.column-2 { clear: both;}
}


@import "normalize.css";

html{font-family: sans-serif;}


/** 
* Déclaration de la grille
**/
.wrapper {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.column {
    box-sizing: border-box;
    float: left;
    /** Gouttières **/
    padding-left: .5em;
    padding-right: .5em;
}
.column-1-2 {
    width: 30%;
}

.clear {
    clear: both;
}
img{
	max-width: 100%;
}
figure{ margin: 0 0 1.5em;}